<?xml version="1.0" encoding="UTF-8" ?>
<beans>
    <bean id = "aservice" class = "com.minis.test.service.impl.AServiceImpl">
        <!--    Setter注入    -->
        <property type="String" name="property1" value="Hello World!"/>
        <property type="String" name="property2" value="Someone says"/>
        <!-- 构造器注入 -->
        <constructor-args type="String" name="name" value="abc"/>
        <constructor-args type="int" name="level" value="3"/>
        <!-- 对象注入 -->
<!--        <property type="com.minis.test.service.BaseService" name="baseService" ref="baseservice" />-->
    </bean>

<!--    <bean id="baseservice" class="com.minis.test.service.BaseService">-->
<!--        <property type="com.minis.test.service.CaseService" name="caseService" ref="caseservice"/>-->
<!--    </bean>-->

<!--    <bean id="caseservice" class="com.minis.test.service.CaseService">-->
<!--        <property type="com.minis.test.service.AService" name="aService" ref="aservice"/>-->
<!--    </bean>-->
</beans>